<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
	http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">
		
<import resource="classpath:META-INF/cxf/cxf.xml"/>
<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>

	<!-- SOAP -->	
	<jaxws:endpoint id="connecxionService" implementor="#connexionSoapImpl" address="/ConnexionService" />

	<bean id="connexionSoapImpl" class="fr.afcepf.atod21.coVoiturage.servicesImpl.ConnexionServiceSoap">
		<property name="connexionDao" ref="connexionSoapDAO" />
	</bean>

	<bean id="connexionSoapDAO" class="fr.afcepf.atod21.coVoiturage.daoImpl.DaoConnexionImpl" />


	<!-- REST -->
	<jaxrs:server id="connexionService" address="/ConnexionService">
		<jaxrs:serviceBeans>
			<ref bean="connexionRestImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:extensionMappings>
			<entry key="json" value="application/json" />
			<entry key="xml" value="application/xml" />
		</jaxrs:extensionMappings>
	</jaxrs:server>

	<bean id="connexionRestImpl" class="fr.afcepf.atod21.coVoiturage.servicesImpl.ConnexionServiceRest">
		<property name="connexionDao" ref="connexionRestDAO" />
	</bean>

	<bean id="connexionRestDAO" class="fr.afcepf.atod21.coVoiturage.daoImpl.DaoConnexionImpl" />


</beans>