
.classCreerTrajet {
	margin-top: 30px;
}

.classCreerTrajet fieldset {
	border-color: maroon;
    margin: auto;
    width: 50%;

}

.classCreerTrajet legend {
	color: maroon;
}

.classCreerTrajet label {
	float: left;
	width: 120px;
}

.classCreerTrajet .classBtnSubmit {
	margin-top: 20px;
	background-color: white;
	color:maroon;
	border: 1px solid maroon;
	padding: 4px;
	border-radius:3px;

	font-size: 14px;
}

.classCreerTrajet .classBtnSubmit:HOVER{
	background-color: maroon;
	color:white;
}

.errorClass {
	color: red;
}