body,html {
	height: 100%;
	font-family: verdana;
	font-size: 12px;
	font-family: verdana;
	max-width: 2000px;
	min-width: 1200px;
}

#page {
	min-height: 100%;
}

/*********************** HEADER ************************/
.header {
	background-color: maroon;
	color: white;
	font-family: verdana;
	font-size: 12px;
	height: 120px;
	border-radius: 4px;
	box-shadow: 4px 4px 4px maroon;
}

.header .title {
	color: white;
	font-family: verdana;
	font-size: 13px;
	width: 50%;
	height: 120px;
	float: left;
}

.title .contentTitle {
	float: left; padding-left : 45px;
	padding-top: 20px;

	padding-left: 45px;
}

.title .message_welcome {
	float: right;


	padding-top: 20px;
}

.header .information {
	float: right;
	width: 50%;
	height: 120px;
}

.information a {
	float: right;
	padding-right: 20px;
	padding-top: 20px;
}

.information .btnLogOut {
	float: right;
	margin-right: 20px;
	margin-top: 20px;
	border: none;
	height: 20px;
	width:100px;
	color: white;
	background-color: maroon;
	border: 2px solid white;
	height: 22px;
}

.information .btnLogOut:HOVER {
	color: maroon;
	background-color: white;
	font-weight: bold;
	height: 20px;
}

#nav {
	background-color: #E2B68E;
	height: 70px;
	margin-bottom: 15px;
	color: maroon;
	box-shadow: 5px 5px 5px #E2B68E;
	border-radius: 3px;
}

#nav ul li{
	list-style-type: none;
	text-decoration: none;
	float: left;
	margin-right: 100px;

}

#nav ul li:HOVER{
	border-bottom: 3px solid maroon;
}


#nav ul li img{
	padding-top: 5px;
}

#nav ul li a{
	cursor: pointer;
	text-decoration: none;
	color:maroon;
	
}

#nav ul li a:ACTIVE{
	color:maroon;
}
#nav ul li a:VISITED{
	color:maroon;
}
#content {
/* 	background-color: #E2B68E; */
	
	overflow: auto;
	padding-bottom: 200px;
	margin: 0px;
	height: 125px;
	overflow: auto;
/* 	box-shadow: 5px 5px 5px #E2B68E; */
	border-radius: 3px;
}

#footer {
	border: 2px solid maroon;
	background-color: maroon;
	position: relative;
	margin-top: -80px;
	height: 80px;
	color: white;
	box-shadow: 5px 5px 5px maroon;
	border-radius: 3px;
}


#footer ul{
	list-style-type: none;
}

#footer ul li{
	list-style-type: none;
	display: inline;
	
}

#footer ul li a{
	color:white;
	text-decoration: none;

	padding: 5px;
	margin-right: 150px;
	
}

#footer ul li a:HOVER {
	border-bottom: 4px solid white;
}
